@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Multani');

body {
    font-family: Noto Sans Multani;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: #361517;
    position: relative; /* Make the header a positioning context */
}

.github-logo-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    filter: invert(100%);
}

.github-logo-container img {
    width: 10vh;
    height: auto;
}

header img {
    width: 30vh;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 2; /* value to control width of left column */
    max-width: 70%;
}

.description,
.download,
.features {
    flex: 1;
}

.description h1 {
    font-size: 24px;
    margin-top: 0;
}

.description p {
    font-size: 16px;
    line-height: 1.5;
}

.download h2 {
    font-size: 24px;
    margin-top: 0;
}

.download p {
    font-size: 16px;
    line-height: 1.5;
}

.download-instructions {
    margin-bottom: 5px;
}

.download a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #361517;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.download a:hover {
    background-color: #240c0e;
}

.gif {
    flex: 1;
    text-align: center;
}

.gif img {
    max-width: 100%;
}

ol {
    list-style-type: decimal;
}

.main-points {
    list-style-type: decimal;
}

.main-points > li {
    font-weight: bold;
}

.subpoints {
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: 0;
}

.subpoints > li {
    font-weight: normal;
}

.circular-bullets {
    list-style-type: disc;
}
