@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Multani');

:root {
    --main-color: #222222;
    --accent-color: #8AE7FF;
}

/* FFDD57 */
body {
    font-family: Noto Sans Multani;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background: var(--main-color);
    position: relative;
}

header img {
    width: 30vh;
    height: auto;
}

.content {
    padding: 20px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
}

.description, .methodologies, .explanation-visuals {
    margin-bottom: 15px;
}

h1, h2, h3, h4 {
    color: var(--accent-color);
}

h2 {
    margin:0;
}

p, ol, ul, li {
    color: white;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.main-points > li {
    font-weight: bold;
}

.subpoints {
    list-style-type: disc;
    margin-left: 20px;
}

.gif {
    text-align: center;
}

.gif img {
    max-width: 100%;
    height: auto;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    /* border: 2px solid var(--accent-color); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.explanation-visuals {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.explanation {
    flex: 1;
}

.explanation.right {
    padding-left: 32px;
    padding-right:5px;
    padding-top:0;
}

.visual {
    flex: 1;
}

.visual.right {
    flex: 1;
    padding: 20px;
}

.visual.left {
    flex: 1;
    padding-top: 20px;
}

.left {
    order: 1;
}

.right {
    order: 2;
}

iframe, video {
    border: 2px solid var(--accent-color);
    border-radius: 8px;
}

.strapi-image {
    width: 50%;
    border-radius: 10px;
    display: block;
    border: 2px solid var(--accent-color);
}

/* animations */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .explanation {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .slide-in-left {
    animation: slideInLeft 1s forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 1s forwards;
  }
  
  @keyframes slideInBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .top-slide-target {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .slide-in-bottom {
    animation: slideInBottom 1s forwards;
  }

/* Code Highlights Section */
.code-highlight-section {
    border-radius: 10px;
    color: #1e1e1e;
    margin-top: 80px;
    margin-bottom: 15px; 
}

.explanation-code-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.code-block {
    margin-left: 15px;
    flex: 1;
    background-color: #1e1e1e;
    padding: 15px; 
    padding-top: 9px; 
    padding-bottom: 9px;
    border-radius: 5px;
    overflow-x: auto;
    max-height: 515px;
    color: #fff;
    font-size: 12px;
    /* border: 2px solid var(--accent-color); */
}

pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: visible;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse .explanation {
    margin-left: 15px;
}

.reverse .code-block {
    margin-left: 0;
}

.portfolio-btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    margin-bottom: 20px;;
}

.portfolio-btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 20px;
    font-size: 34px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.portfolio-btn:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

/* tooltip */
.portfolio-btn::after {
    content: 'Visit Portfolio Website';
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    display: none;
    border-radius: 4px;
}

.portfolio-btn:hover::after {
    display: block;
}

/* github logo */
.github-logo-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    margin-bottom: 20px;;
}

.github-btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.github-btn:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

/* tooltip */
.github-btn::after {
    content: 'Visit Portfolio GitHub';
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    display: none;
    border-radius: 5px;
}

.github-btn:hover::after {
    display: block;
}

/* footer */
footer {
    background-color: var(--main-color);
    color: white;
    padding: 20px 0;
    padding-top: 30px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 35px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--accent-color);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 20px;
}